body {
  text-align: center;
}

form {
  position: relative;
  margin: 0 auto;
  width: 500px;
}

#token-list {
  width: 500px;
  min-height: 40px;
  border: 2px solid cornflowerblue;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: left;
  list-style: none;
}

#last-child {
  display: inline-block;
}

input {
  padding-left: 6px;
  width: 150px;
  border: none;
  outline: none;
  height: 33px;
}

#autocomplete-list {
  position: absolute;
  background: white;
  list-style: none;
  display: none;
  width: 490px;
  margin: -17px auto 0;
  padding: 5px;
  text-align: left;
  border: 2px solid cornflowerblue;
}

button {
  margin-top: 60px;
  height: 40px;
  width: 250px;
  color: white;
  border: none;
  background: aquamarine;
  font-size: 1em;
}

.token {
  display: inline-block;
  margin: 4px 2px 0 2px;
  padding: 3px 7px;
  border: 2px solid cornflowerblue;
  font-size: 1.2em;
}

.token-delete {
  color: aquamarine;
  cursor: hand;
  cursor: pointer;
}

#highlight, #autocomplete-list li:hover {
  font-weight: bold;
  color: aquamarine;
}
